.colors {
    color: red;
}

a {
    border: 3px solid black;
    border-radius: 20px;
    border-width: 10px;
    padding: 5px;
    text-decoration-line: none;
}

a:hover {
    background-color: blue;
    cursor: pointer;
}